In [1]:
# Dependencies
from sqlalchemy import create_engine
from datetime import timedelta, datetime, tzinfo
from zipfile import ZipFile
import collections
import psycopg2
import requests
import json
import pandas as pd

In [2]:
##Import the csv data

In [3]:
#data frame for legal status and pop
hr_df = pd.read_csv("../Final Project/hotelreviews.csv")

In [4]:
hr_df.head(3)

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968

In [5]:
hr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               515738 non-null  object
 1   Additional_Number_of_Scoring                515738 non-null  int64
 2   Review_Date                                 515738 non-null  object
 3   Average_Score                               515738 non-null  float64
 4   Hotel_Name                                  515738 non-null  object
 5   Reviewer_Nationality                        515215 non-null  object
 6   Negative_Review                             515738 non-null  object
 7   Review_Total_Negative_Word_Counts           515738 non-null  int64
 8   Total_Number_of_Reviews                     515738 non-null  int64
 9   Positive_Review                             515738 non-null  object
 10  Review_Total_Positive_Word_Counts           515738 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 12  Reviewer_Score                              515738 non-null  float64
 13  Tags                                        515738 non-null  object
 14  days_since_review                           515738 non-null  object
 15  lat                                         512470 non-null  float64
 16  lng                                         512470 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 66.9+ MB

In [6]:
hr_df= hr_df.dropna()
hr_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 511950 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               511950 non-null  object
 1   Additional_Number_of_Scoring                511950 non-null  int64
 2   Review_Date                                 511950 non-null  object
 3   Average_Score                               511950 non-null  float64
 4   Hotel_Name                                  511950 non-null  object
 5   Reviewer_Nationality                        511950 non-null  object
 6   Negative_Review                             511950 non-null  object
 7   Review_Total_Negative_Word_Counts           511950 non-null  int64
 8   Total_Number_of_Reviews                     511950 non-null  int64
 9   Positive_Review                             511950 non-null  object
 10  Review_Total_Positive_Word_Counts           511950 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  511950 non-null  int64
 12  Reviewer_Score                              511950 non-null  float64
 13  Tags                                        511950 non-null  object
 14  days_since_review                           511950 non-null  object
 15  lat                                         511950 non-null  float64
 16  lng                                         511950 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 70.3+ MB

In [7]:
###Take out the spaces in review nationality for better filtering for accuracy.
hr_df['Reviewer_Nationality'] = hr_df['Reviewer_Nationality'].str.strip()

In [8]:
###Combine both review columns both comment fileds
hr_df['Full_Review'] =  hr_df['Positive_Review']+hr_df['Negative_Review']

In [9]:
hr_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 511950 entries, 0 to 515737
Data columns (total 18 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               511950 non-null  object
 1   Additional_Number_of_Scoring                511950 non-null  int64
 2   Review_Date                                 511950 non-null  object
 3   Average_Score                               511950 non-null  float64
 4   Hotel_Name                                  511950 non-null  object
 5   Reviewer_Nationality                        511950 non-null  object
 6   Negative_Review                             511950 non-null  object
 7   Review_Total_Negative_Word_Counts           511950 non-null  int64
 8   Total_Number_of_Reviews                     511950 non-null  int64
 9   Positive_Review                             511950 non-null  object
 10  Review_Total_Positive_Word_Counts           511950 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  511950 non-null  int64
 12  Reviewer_Score                              511950 non-null  float64
 13  Tags                                        511950 non-null  object
 14  days_since_review                           511950 non-null  object
 15  lat                                         511950 non-null  float64
 16  lng                                         511950 non-null  float64
 17  Full_Review                                 511950 non-null  object
dtypes: float64(4), int64(5), object(9)
memory usage: 74.2+ MB

In [10]:
#Let's get rid of everything we don't need.
df = hr_df.drop(columns=['Hotel_Address','Additional_Number_of_Scoring','Reviewer_Score','Review_Date','Average_Score','Hotel_Name','Negative_Review','Review_Total_Negative_Word_Counts','Total_Number_of_Reviews','Positive_Review','Review_Total_Positive_Word_Counts','Total_Number_of_Reviews_Reviewer_Has_Given','Tags','days_since_review','lat','lng'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 511950 entries, 0 to 515737
Data columns (total 2 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Reviewer_Nationality  511950 non-null  object
 1   Full_Review           511950 non-null  object
dtypes: object(2)
memory usage: 11.7+ MB

In [11]:
###Filter to top 5 
print(df['Reviewer_Nationality'].value_counts())

UnitedKingdom             244457
UnitedStatesofAmerica      35196
Australia                  21540
Ireland                    14746
UnitedArabEmirates         10176
                           ...
NorthernMarianaIslands         1
Palau                          1
VaticanCity                    1
SvalbardJanMayen               1
Guinea                         1
Name: Reviewer_Nationality, Length: 226, dtype: int64

In [13]:
top5 = ['Australia','Ireland','UnitedArabEmirates','UnitedKingdom','UnitedStatesofAmerica']

In [14]:
df1 = df[df["Reviewer_Nationality"].isin(top5)]
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 326115 entries, 1 to 515727
Data columns (total 2 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Reviewer_Nationality  326115 non-null  object
 1   Full_Review           326115 non-null  object
dtypes: object(2)
memory usage: 7.5+ MB

In [15]:
df1.head()

  Reviewer_Nationality                                        Full_Review
1              Ireland   No real complaints the hotel was great great ...
2            Australia   Location was good and staff were ok It is cut...
3        UnitedKingdom   Great location in nice surroundings the bar a...
6        UnitedKingdom   The room is spacious and bright The hotel is ...
7        UnitedKingdom   Good location Set in a lovely park friendly s...

In [16]:
df1.to_csv(r'C:\Users\jcaravella\Documents\Final Project\top5.csv', index = False,header=True)

In [ ]:
####First filtor to needed indicators
#totaldeaths1 = od_df[od_df['Indicator']=='Number of Deaths']
#totaldeaths =  totaldeaths1.drop(columns=['Indicator'])
#totaldeaths.dropna()
#totaldeaths.info()

In [12]:
#rename column name
#totaldeaths = totaldeaths.rename(columns={"Data Value":"Total_Deaths"})

#totaldeaths.head()

In [47]:
############Stop unless sending to postgres###################

In [48]:
############Stop unless sending to postgres###################

In [43]:
#rds_connection_string = f"{dbuser}<insert user name>:<insert password>@localhost:5432/customer_db"
#engine = create_engine(f'postgresql://{rds_connection_string}')
#password = "Hooch#12"
#dbuser = "postgres"
#rds_connection_string = f"{dbuser}:{password}@localhost:5432/Project2"
#engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
#engine.table_names()

In [47]:
#push status level to pgadmin
#Status_Counts.to_sql(name='legalstatus_level', con=engine, if_exists='replace', index=False)
#State_Counts.to_sql(name='state_level', con=engine, if_exists='replace', index=False)